body { background: #000; }

.wrap { position: relative; width: 1200px; height: 650px; margin: 0 auto; overflow: hidden; }

.flash { position: absolute; width: 1200px; height: 650px; z-index: 200; background-color: #fff; }

.copyright { position: absolute; bottom: 25px; color: #000; width: 1200px; text-align: center; z-index: 150; }

.login-img { position: absolute; background: url(../img/BJ_2.jpg) no-repeat 0 -5px; width: 1200px; height: 650px; z-index: 100; }

.login-wp { position: absolute; width: 1200px; height: 650px; z-index: 50; }

.login-top { height: 330px; width: 1200px; background: #fff; }
.login-down { height: 320px; width: 1200px; background: #000; }

.login-logo { width: 120px; height: 57px; background: url(../../common-standard/img/logo.jpg) no-repeat 0 0; margin-left: 348px; margin-top: 145px; }

.login-help { padding: 10px; }
.login-help a { font-size: 14px; color: #666; }
.login-help a:hover { text-decoration: none; }
.login-help a img { vertical-align: -3px; }

.login-message { border-left: 1px solid #bfbfbf; height: 250px; margin-top: 50px; margin-left: 45px; }
.login-message .login-curr { padding-left: 55px; padding-top: 30px; position: absolute; display: block; }
.login-message .login-curr .login-wel { background: url(../img/login_txt.jpg) no-repeat 0 0; width: 252px; height: 16px; }

.info-list { margin: 0 0 15px; line-height: 30px; }
.info-list .username,
.info-list .password { background: url(../img/input_img.jpg) no-repeat 0 0; margin-top: 15px; width: 250px; height: 30px; }
.info-list .username input, 
.info-list .password input { color: #5f5f5f; width: 240px; height: 27px; line-height: 26px; border: none; background: none; padding-left: 10px; }
.info-list .auto-login { width: 252px; color: #343434; }
.info-list .login-checkbox { margin: 3px; }
.info-list .login-button { background: url(../img/login_buttom.jpg) no-repeat 0 0; width: 100px; height: 30px; margin-top: 25px; border: none; cursor:pointer; }
.info-list .login-button:hover { background:url(../img/login_buttom.jpg) no-repeat 0 -30px; }
.info-list .login-button2 { background: url(../img/login_buttom2.jpg) no-repeat 0 0; width: 100px; height: 30px; margin-top: 25px; border: none; cursor:pointer; }
.info-list .login-button2:hover { background:url(../img/login_buttom2.jpg) no-repeat 0 -30px; }
.info-list .warn { color: red; }

.login-message .login-forget-pwd { padding-left: 55px; padding-top: 30px; position: absolute; display: none; }
.login-message .login-forget-pwd .login-wel2 { background: url(../img/login_txt2.jpg) no-repeat 0 0; width: 252px; height: 16px; }


