/* -- 清除浏览器默认样式 ------------------------------------------------------------ */
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
caption, th { font-weight: normal; text-align: left; }
q:before, q:after { content: ''; }
abbr[title] { border-bottom: 1px dotted; cursor: help; }
address, cite, dfn, em, var { font-style: normal; }
button, input, select, textarea { font-size: 100%; }
textarea { resize: none; }
fieldset, img { border: 0; }
legend { color: #000; }
code, kbd, samp { font-family: 'Courier New', monospace; }
hr { border: none; height: 1px; }
button, input, select, textarea { outline: medium; }


/* -- 文字排版 ---------------------------------------------------------------------- */
html, body { height: 100%; }
body { background: #fff; text-rendering: optimizelegibility; }
body, button, input, select, textarea { color: #444; font: 12px/1.5 'Helvetica Neue','Segoe UI',Tahoma,'Hiragino Sans GB','Hiragino Kaku Gothic Pro','Microsoft YaHei',sans-serif; }
a { color: #333; text-decoration: none; }
  a:hover { color: #ff980d; /*text-decoration: underline;*/ }
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }


/* -- custom css ---------------------------------------------------------------------- */
.vm, .vm * { vertical-align: middle; }

.xs4 { font-size: 14px; }
.xs5 { font-size: 15px; }
.xs6 { font-size: 16px; }

.clmt { margin-top: 0 !important; }
.clmr { margin-right: 0 !important; }
.clmb { margin-bottom: 0 !important; }
.clml { margin-left: 0 !important; }

.mln { margin-left: 5px; }
.mlm { margin-left: 10px; }
.mlw { margin-left: 20px; }

.mrn { margin-right: 5px; }
.mrm { margin-right: 10px; }
.mrw { margin-right: 20px; }

.mbn { margin-bottom: 5px; }
.mbm { margin-bottom: 10px; }
.mbw { margin-bottom: 20px; }

.mtn { margin-top: 5px; }
.mtm { margin-top: 10px; }
.mtw { margin-top: 20px; }

.clpt { padding-top: 0 !important; }
.clpr { padding-right: 0 !important; }
.clpb { padding-bottom: 0 !important; }
.clpl { padding-left: 0 !important; }

/* 不换行 */
.one-line { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* 隐藏 */
.hidden { display: none; }
.invisible { visibility: hidden; }

/* inline block */
.inline-block { display: inline-block; *display: inline; *zoom: 1; }

/* 容器相对定位 */
.fpr { position: relative !important; }

/* 'z<左浮动>' | 'y<右浮动>' */
.z { float: left; } 
.y { float: right; }
/* 自动闭合浮动 'cl<clear>' */
.cl:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; } .cl { *zoom: 1; }
.cl-l { clear: left; } 
.cl-r { clear: right; }

.text-gray { color: gray; }
.text-center { text-align: center; }
.text-right { text-align: right; }


/* -- module css ---------------------------------------------------------------------- */
.wp { position: relative; width: 1200px; height: 756px; }

/* 广告 */
.ad { height: 135px; width: 1200px; border-bottom: 2px solid #7e807f; }
.ad img { width: 290px; height: 135px; }
.ad ul li { float: left; }

/* main */
.mn { width: 1090px; height: 595px; margin-left: 110px; overflow: hidden; }

/* sidebar */
.sb { position: absolute; background: url(../img/inside_list.png) no-repeat 0 0; width: 216px; height: 768px; top: 0px; left: 0px; z-index: 20; }

/* 左侧菜单 */
.navigation { margin-top: 155px; margin-left: 5px; }
.navigation li { line-height: 0; }
.t1,
.t2,
.t3,
.t4,
.t5,
.t6,
.t7 { display: inline-block; background-image: url(../img/menu_t.png); background-repeat: no-repeat; width: 115px; height: 53px; }

.t1 { background-position: -115px 0; }
.t1:hover { background-position: 0px 0px; }
.t1c { background-position: 0px 0px; }

.t2 { background-position: -115px -53px; }
.t2:hover { background-position: 0 -53px; }
.t2c { background-position: 0 -53px; }

.t3 { background-position: -115px -108px; }
.t3:hover { background-position: 0 -108px; }
.t3c { background-position: 0 -108px; }

.t4 { background-position: -115px -161px; }
.t4:hover { background-position: 0 -161px; }
.t4c { background-position: 0 -161px; }

.t5 { background-position: -115px -214px; }
.t5:hover { background-position: 0 -214px; }
.t5c { background-position: 0 -214px; }

.t6 { background-position: -115px -267px; }
.t6:hover { background-position: 0 -267px; }
.t6c { background-position: 0 -267px; }

.t7 { background-position: -115px -346px; }
.t7:hover { background-position: 0 -346px; }
.t7c { background-position: 0 -346px; }

/* 左侧个人中心 */
.userinfo { width: 120px; height: 100px; border-top: 1px dotted #fff; margin-left: 22px; margin-top: 20px; padding-top: 5px; }
.userinfo p { color: #fff; line-height: 180%; }
.userinfo a { color: #fff; }
.userinfo a:hover { text-decoration: underline; }

/* 页面名称 */
.pn { position: absolute; left: 0px; bottom: -12px; width: 362px; height: 127px; background-image: url(../img/inside_bt.png); background-repeat: no-repeat; background-position: 0 0; z-index: 100; }
.pn-notice { background-position: 0 -508px; }
.pn-news { background-position: 0 -635px; }
.pn-learning { background-position: 0 0; }
.pn-course { background-position: 0 -127px; }
.pn-download { background-position: 0 -254px; }
.pn-certificate { background-position: 0 -381px; }

/* 底部 */
.ft { position: absolute; bottom: 1px; background: url(../img/insidenr_line.jpg) repeat-x 0 0; width: 1200px; height: 23px; z-index: 10; }
.ft p { margin-left: 460px; margin-top: 5px; }

/* 分页 */
.pagination { height: 25px; margin-top: 30px; }
.pagination .page { float: left; width: 25px; height: 25px; background: #dddddd; text-align: center; line-height: 25px; color: #3c3c3c; margin-left: 1px; /*border-radius: 4px;*/ }
.pagination .page:hover { background: #f05133; color: #fff; }
.pagination .page-l,
.pagination .page-r { width: 65px; }
.pagination .page.active { background: #f05133; color: #fff; }
.pagination input { width: 50px; height: 23px; margin-left: 3px; border: 1px solid #ddd; text-align: center; }
.pagination button { background: #f05133; color: #fff; border: 0 none; padding: 3px 8px; border-radius: 3px; cursor: pointer; }
.pagination button:active { background: #e15b34; }

/* 页头 */
.header { background: url(../img/planV2_list_bj.jpg) repeat-x 0 0; height: 50px; line-height: 50px; padding-left: 100px; }

.header-menu-list a { float: left; width: 98px; height: 48px; text-align: center; font-size: 16px; color: #303030; cursor: pointer; }
.header-menu-list a.active { background: url(../img/inside_3list.png) no-repeat 0 bottom; /*color: #f05234;*/ font-weight: bold; }
.header-menu-list a:hover { background: url(../img/inside_3list.png) no-repeat 0 bottom; color: #f05234; font-weight: bold; }

/* search-wrap */
.search-wrap { width: 975px; background: #fffaf4; border-bottom: 1px solid #f2f2f2; color: #5e5e5e; line-height: 20px; padding: 10px 0 10px 115px; }

  .search-item {}
  .search-item dt { float: left; width: 60px; }
  .search-item dd { float: left; /*width: 300px;*/ }

  .btn-search-wrap { margin-top: 2px; margin-left: 30px; }
    .btn-search { display: inline-block; width: 80px; height: 25px; background: #f46940; text-align: center; line-height: 25px; color: #fff; font-size: 14px; border-radius: 4px; }
    .btn-search:hover { color: #fff; }
    .btn-search:active { background: #e15b34; }

  .txt-search-name { width: 260px; border-radius: 4px; border: 1px solid #999; height: 20px; line-height: 20px; padding: 3px; }

/* jquery-ui 日历 */
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 40%; }

/* 无记录提示 */
.alert { font-size: 16px; border: 1px solid #E8E8EA; line-height: 80px; color: #EF7118; font-weight: bold; text-align: center; padding: 10px; margin: 5px 0px 5px 0; height: 80px; }

/* 表格 */
.table { width: 100% }
.table th,
.table td { padding: 4px; word-break: break-all; word-wrap: break-word; }

.table-list th,
.table-list td { border-bottom: 1px solid #e7e6e6; }
.table-list th { font-weight: 700; }

/* 表单 */
.input { width: 260px; border-radius: 4px; border: 1px solid #999; height: 20px; line-height: 20px; padding: 3px; }
.select { border-radius: 4px; border: 1px solid #999; padding: 3px; }

.btn-orange { display: inline-block; width: 80px; height: 25px; background: #f46940; text-align: center; line-height: 25px; color: #fff; font-size: 14px; border-radius: 4px; border: 0 none; cursor: pointer; }
.btn-orange:hover { color: #fff; }
.btn-orange:active { background: #e15b34; }
