.search-bar, .nav-bar, .wrap { position:absolute; left:0; right:0; }
.search-bar, .nav-bar { height:44px; background-color: #fff; text-align: center; z-index:900; line-height:44px; }
.search-bar { top: 0; }
.nav-bar{ top: 44px; }
.wrap{ top: 88px; bottom: 0; overflow-y: auto; -webkit-overflow-scrolling:touch; z-index: 1; }

.search-bar { padding: 5px; border-bottom: 1px solid #dedede; }
.form-search { /*display: -webkit-flex; display: flex;*/ }
  .form-search .form-control-wrap { margin-right: 59px; position: relative; }
  .form-search .form-control-wrap .btn-search-clear { position: absolute; right: 10px; top: 0; line-height: 34px; color: #dedede; display: none; }
  .form-search .form-control { /*-webkit-flex: 1; flex: 1; margin-right: 5px; */ }
  .form-search .btn { float: right; width: 54px; }

.resource-list li { padding: 10px; border-bottom: 1px solid #dedede; }
.resource-list li:active { background-color: #efefef; }
  .resource-list li h4 { font-size: 16px; display: inline-block; margin: 5px 5px 5px 0; }
  .resource-list li .label { font-weight: 400; position: relative; top: -3px; left: 5px;}
  .resource-list li .other div { display: inline-block; color: #999; margin-right: 10px; font-size: 12px; white-space:nowrap; }
    .resource-list .resource-star,
    .resource-list .resource-star .resource-star-inner { display: inline-block; height: 13px; background-image: url(../../common/img/star.png); background-repeat: no-repeat; background-size:66px 26px; line-height: 0; }
    .resource-list .resource-star { width: 66px; }
      .resource-list .resource-star .resource-star-inner { background-position: 0 -13px; }

.nav-bar { border-bottom: 1px solid #dedede; }
  .nav-list { /*display: -webkit-flex; display: flex;*/ margin-bottom: 0; }
    .nav-list li { float: left; cursor: pointer; }
      .nav-list .nav-sort { width: 34%; /*-webkit-flex: 2; flex: 2;*/  }
      .nav-list .nav-type { width: 33%; /*-webkit-flex: 1; flex: 1;*/  }
      .nav-list .nav-half{width: 50% !important;}
      .nav-list .nav-order { width: 33%; /*-webkit-flex: 1; flex: 1;*/  }
      .nav-list .pipe { border-right: 1px solid #dedede; }

      .nav-list .nav-icon { display: inline-block; width: 13px; height: 7px; background: url(../../common/img/icon-drop.png) no-repeat 0 0; background-size: 13px auto; margin-left: 5px; 
        -webkit-transition: -webkit-transform .3s;
      }
      .nav-list .nav-icon.on {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

.dropdown-cover, .dropdown-wrap { display: none; position:absolute; left:0; right:0;  }
.dropdown-cover { top: 88px; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 99; }
.dropdown-wrap { top: 88px; background: #fff; z-index: 199; }

.dropdown-list { margin-bottom: 0; }
.dropdown-list li { border-bottom: 1px solid #dedede; }
.dropdown-list li:last-child { border-bottom: 0 none; }
  .dropdown-list li a { display: block; padding: 12px 15px; color: #333; font-size: 16px; }
  .dropdown-list li a:hover { text-decoration: none; background-color: #f5f5f5; }

.dropdown-scroll-wrap-1 { float: left; background-color: #f5f5f5; width: 45%; max-height: 281px; overflow: hidden; position: relative; /*overflow-y: auto; -webkit-overflow-scrolling:touch;*/ }
.dropdown-scroll-wrap-2 {  margin-left: 45%; background-color: #fff; width: 55%; padding-left: 15px; max-height: 281px; overflow: hidden; position: relative;  /*overflow-y: auto; -webkit-overflow-scrolling:touch;*/ }

.dropdown-lvl-wrap .dropdown-list-lvl-1 {}
  .dropdown-lvl-wrap .dropdown-list-lvl-1 li { border-bottom: 0 none; }
  .dropdown-lvl-wrap .dropdown-list-lvl-1 li a:hover { background-color: transparent; }
  .dropdown-lvl-wrap .dropdown-list-lvl-1 li.selected { background-color: #fff; }

.dropdown-lvl-wrap .dropdown-list-lvl-2 { margin-bottom: 0; }
.dropdown-lvl-wrap .dropdown-list-lvl-2 dd { border-bottom: 1px solid #dedede; }
.dropdown-lvl-wrap .dropdown-list-lvl-2 dd:last-child { border-bottom: 0 none; }
  .dropdown-lvl-wrap .dropdown-list-lvl-2 dd a { display: block; padding: 12px 15px; color: #333; font-size: 16px; }
  .dropdown-lvl-wrap .dropdown-list-lvl-2 dd a:hover { text-decoration: none; /*background-color: #f5f5f5;*/ }

.wrap .alert-warning { margin: 5px; }
.highlight{background:rgb(245, 218, 77);font-weight:bold;color:white;}