.table th, .table td {
	text-align: center;
	height: 38px;
}

.product-detail {
	padding: 20px;
	height: 120px;
	background-color: #f1f1f1;
}

.product-detail img {
	width: 60px;
	height: 60px;
}

.product-detail .number {
	padding: 20px 0 0 0;
}

.cost-count {
	margin: 30px;
	height: 120px;
}

.cost-count p {
	font-size: 40px;
	color: #FFEB3B;
}

.orange-span {
	color: #FFEB3B;
}